// background
$bg: url(http://leftrightmusic.com/img/bg.jpg);
$coin: url(http://leftrightmusic.com/img/lr-coin-anaglyph.svg);

// colors
$lrm-main-color: #e73333 !default;
$lrm-txt-color: #FFFFFF !default;
$bg-color: #131313;

// set height for fixed sections of layout 
// i.e. top header nav/bottom footer
$lrm-fh: 50px !default;

// font
$font-size-ctrl: 95%;
$lrm-font-m: 'Montserrat', sans-serif;
$lrm-font-r: 'Roboto', sans-serif;
